.navbar {
  background-color: #f5f7fa;
}
#lgbtn {
  border: none;
  color: #4caf4f;
  padding: 2px 7px;
  background-color: #f5f7fa;
}
#spbtn {
  background: #4caf4f;
  color: white;
  padding: 2px 10px;
  border: #4caf4f 1px solid;
  border-radius: 3px;
}
.page1 {
  background-color: #f5f7fa;
}
.years {
  color: #4caf4f;
  font-weight: 600;
}
.landi {
  font-weight: 600;
}
.pp {
  font-weight: 400;
  font-size: 14px;
  margin-top: 1rem;
}
.register {
  color: #f5f7fa;
  background-color: #4caf4f;
  border: 1px #4caf4f solid;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 1rem;
}
#illustration {
  width: 20rem;
  height: 20rem;
  margin-left: 5rem;
}
/* #dot {
  margin: 10rem 0 0 26rem;
} */
#lansicol {
  padding: 5rem 7rem;
}
#illustrationcol {
  padding: 3rem 5rem;
}
.ourclienttxt {
  text-align: center;
}
#logo {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}
.nextcenttxt {
  text-align: center;
}
#logo- {
  width: 2rem;
  height: 2rem;
}
#coltext {
  text-align: center;
}
#learnmore {
  background-color: #4caf4f;
  color: #f5f7fa;
  padding: 5px 10px;
}
.ppp {
  font-weight: 400;
  font-size: 15px;
  margin-top: 1rem;
}
#page3 {
  background-color: #f5f7fa;
  padding: 3rem 0rem 0rem 4rem;
}

#icon8 {
  width: 2rem;
  height: 2rem;
}
.ipod {
  padding: 3rem 5rem;
  background-color: #f5f7fa;
}
#ipod1 {
  padding: 3rem 5rem;
}
.page4txt {
  text-align: center;
}

#div4 {
  background-color: #f5f7fa;
  align-content: center;
  height: 13rem;
}
.header4 {
  font-weight: 700;
  text-align: center;
}
#btnp4 {
  background-color: #4caf4f;
  color: #f5f7fa;
  padding: 4px 10px;
  border-radius: 3px;
}
#footer {
  background-color: #263238;
}
.pf {
  font-size: 13px;
}
.input {
  background-color: #4c6069;
  border-radius: 5px;
  border: 1px #4c6069 solid;
  width: 9rem;
  height: 2rem;
  font-size: 10px;
}
.logotxt {
  color: #f5f7fa;
  margin: -1.5rem 0 0 2.4rem;
}
